# macOS system files  
.DS_Store  

# Python build and cache files  
*.pyc
src/company_intelligence_agent.egg-info/  
src/utils/__pycache__/  
src/backend/__pycache__/  
src/backend/chromadb_store/chroma.sqlite3
src/orchestrator/__pycache__/

# Ignoring specific Python scripts
scripts/postgres_init.py  
scripts/chroma_init.py  

# Directories  
data/  
rough_work/  
src/backend/old
Gmail/

# Node.js dependencies  
node_modules/  

# Build and Vite-related files  
dist/  
.vite/  
*.cache  

# Environment variables  
.env  

# Documents
docs/DataFlow.pdf
docs/Frontend.pdf
docs/MDI.pdf

# Private info
configs/FirecrawlConfig.json
configs/API_KEYS.json
