# macOS system files  
.DS_Store  

# Python build and cache files  
src/company_intelligence_agent.egg-info/  
src/utils/__pycache__/  
src/backend/__pycache__/  
src/backend/__pycache__/*.pyc  

# Ignoring specific Python scripts
scripts/postgres_init.py  
scripts/chroma_init.py  

# Data and rough work directories  
data/  
rough_work/  

# Node.js dependencies  
node_modules/  

# Build and Vite-related files  
dist/  
.vite/  
*.cache  

# Environment variables  
.env  
src/backend/chromadb_store/chroma.sqlite3
*.pyc
/demo_gifs
/diagrams
